In [1]:
pip install folium

Requirement already satisfied: folium in /opt/anaconda3/lib/python3.7/site-packages (0.10.1)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.7/site-packages (from folium) (2.22.0)
Requirement already satisfied: branca>=0.3.0 in /opt/anaconda3/lib/python3.7/site-packages (from folium) (0.3.1)
Requirement already satisfied: jinja2>=2.9 in /opt/anaconda3/lib/python3.7/site-packages (from folium) (2.10.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from folium) (1.17.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests->folium) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests->folium) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests->folium) (2019.9.11)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import folium
import json


seasons = pd.read_csv('Mins_EPL_1992-2019.csv')

with open('worldmap.json') as worldmap:
    worldmap = json.load(worldmap)

In [3]:
seasons

,Rk,Nation,# Players,Min,List,Year
0,1,eng England,188,120738.0,Jamie Vardy Marcus Rashford Tammy Abraham Harr...,2019-2020
1,2,fr France,31,24181.0,Neal Maupay Sébastien Haller Lucas Digne Mouss...,2019-2020
2,3,es Spain,29,24379.0,Adama Traoré David Silva Gerard Deulofeu Jonny...,2019-2020
3,4,ie Ireland,23,11952.0,Enda Stevens John Egan Jeff Hendrick Matt Dohe...,2019-2020
4,5,br Brazil,21,19652.0,Richarlison Roberto Firmino Wesley Moraes Will...,2019-2020
...,...,...,...,...,...,...
1635,24,il Israel,1,1404.0,Ronny Rosenthal,1992-1993
1636,25,cz Czech Republic,1,1288.0,Jan Stejskal,1992-1993
1637,26,kn Saint Kitts and Nevis,1,412.0,Bobby Bowry,1992-1993
1638,27,ng Nigeria,1,111.0,Efan Ekoku,1992-1993
1639,28,hu Hungary,1,9.0,István Kozma,1992-1993

In [4]:
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 6 columns):
Rk           1640 non-null int64
Nation       1640 non-null object
# Players    1640 non-null int64
Min          1627 non-null float64
List         1640 non-null object
Year         1640 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 77.0+ KB

In [5]:
seasons['Min'] = seasons['Min'].fillna(0)

In [6]:
seasons['Min'].value_counts()

0.0        13
3420.0      5
90.0        5
900.0       4
360.0       4
           ..
49835.0     1
475.0       1
4707.0      1
1404.0      1
8112.0      1
Name: Min, Length: 1506, dtype: int64

In [7]:
def clean_nations(s):  #function to remove abbreviated nation name in front of Nation
    names = s.str.split(' ')
    counter = 0
    for i in names:
        del i[0]
        i = ' '.join(i)
        names[counter]=i
        counter+=1
    return names


seasons['Nation']=clean_nations(seasons['Nation'])

seasons['Nation'].astype(np.unicode_)

#seasons['Nation'] = seasons['Nation'].astype(str)

#seasons['Nation']

0                     England
1                      France
2                       Spain
3                     Ireland
4                      Brazil
                ...
1635                   Israel
1636           Czech Republic
1637    Saint Kitts and Nevis
1638                  Nigeria
1639                  Hungary
Name: Nation, Length: 1640, dtype: object

In [13]:
change_map = {}

for country in worldmap["features"]: #get country codes from JSON file
    change_map[country["properties"]["name"]] = country["id"]

codes = seasons['Nation'].map(change_map) #map country codes into new column in dataframe
codes = codes.fillna('GBR')
seasons['Country_Codes'] = codes

In [9]:
twenty_eighteen = seasons.iloc[61:128] #isolate 2018-2019 season for testing purposes

In [14]:
m = folium.Map(location=[20, -0], zoom_start=2) #create folium map instance
folium.Choropleth(
    geo_data=worldmap,
    name='choropleth',
    data=twenty_eighteen,
    columns=['Country_Codes', 'Min'],
    key_on='feature.id',
    fill_color='YlGn',
    nan_fill_color='white',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='Minutes Played'
).add_to(m)

m

NameError: name 'show' is not defined

# Follow this link to view the map:
https://nbviewer.jupyter.org/github/papapumpkin/Visualizing-Minutes-Played-in-EPL-by-Nation-1992-2020/blob/master/EPL%20Minutes%20Map.ipynb